.git
.github
**/node_modules
**/vendor
**/.env
**/.env.*
!**/.env.example
**/*.sql
**/*.md
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/bootstrap/cache/*
**/tests
